 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Тестирование</h1>
        <p>Тут у нас будет веселою, а именно будет проходить тестирование системытестирования. Будем жечь тряпки. Смеяться.</p>
        <p><a href="#" class="btn btn-primary btn-large">Пока не работает &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Вопросы</h2>
          <p>Вопросы можно создавать, удалять и вообще они главное что есть. </p>
          <p><%= link_to 'К вопросам', questions_path, class: "btn"  %></p>
        </div>
        <div class="span4">
          <h2>Ответы</h2>
          <p>К каждому ответу должны быть вопросы. Ну или крайне желательно чтобы они были. Вот тут то мы их и будем вносить. Весело и забавно. Ответы иногда бывают правильные.</p>
          <p><%= link_to 'К ответам', options_path, class: "btn"  %></p>
       	</div>
        <div class="span4">
          <h2>Пулы</h2>
          <p>Вопросы объеденины в пулы. В пуле может быть несколько вопросов, собственно как и сам вопрос может принадлежать к разным пулам.</p>
          <p><%= link_to 'К пулам', pools_path, class: "btn"  %></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Все очень секретно 2013</p>
      </footer>
